<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>selvetExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>



<servlet>
	<servlet-name>firstServlet</servlet-name>
	<servlet-class>com.example.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>firstServlet</servlet-name>
	<url-pattern>/first</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>helloServlet</servlet-name>
	<servlet-class>com.example.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>helloServlet</servlet-name>
	<url-pattern>/hello</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>calcServlet2</servlet-name>
	<servlet-class>com.example.CalcServlet2</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>calcServlet2</servlet-name>
	<url-pattern>/calcServlet2</url-pattern>
</servlet-mapping>

<context-param>
	<param-name>menu_member</param-name>
	<param-value>회원등록 회원조회 회원수정</param-value>
</context-param>
<context-param>
	<param-name>menu_order</param-name>
	<param-value>주문조회 주문등록 주문수정 주문취소</param-value>
</context-param>
<context-param>
	<param-name>menu_goods</param-name>
	<param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
</context-param>

<servlet>
	<servlet-name>servletConfigTest</servlet-name>
	<servlet-class>com.config.ServletConfigTestServlet</servlet-class>
	<init-param>
		<param-name>charset</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>servletConfigTest</servlet-name>
	<url-pattern>/configTest</url-pattern>
</servlet-mapping>

</web-app>